apiVersion: apps/v1
kind: Deployment
metadata:
  name: java-stock-api
  namespace: stock-analyser
spec:
  replicas: 1
  strategy:
    type: RollingUpdate
    rollingUpdate:
      maxUnavailable: 0
      maxSurge: 1
  selector:
    matchLabels:
      app: java-stock-api
  template:
    metadata:
      labels:
        app: java-stock-api
    spec:
      containers:
        - name: java-stock-api
          image: local/java-stock-api:latest
          imagePullPolicy: IfNotPresent
          ports:
            - containerPort: 8080
          resources:
            requests:
              memory: "1500Mi"
            limits:
              memory: "2000Mi"
          readinessProbe:
            tcpSocket:
              port: 8080
            initialDelaySeconds: 5
            periodSeconds: 5
          livenessProbe:
            tcpSocket:
              port: 8080
            initialDelaySeconds: 15
            periodSeconds: 10
          env:
            - name: JAVA_OPTS
              value: ""
      restartPolicy: Always
